/tmp/ 
# Ignore master key for decrypting credentials and more.
/config/master.key

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.log
.DS_Store
playwright/tests/storage/user.json
/log
